body {
    font-family: 'Arial', sans-serif;
    background-color: #b29dd4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    max-width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(70, 68, 66, 0.712);
  }
  
  h2 {
    color: rgb(189, 137, 199);
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #000000cc;
  }
  
  input {
    width: 85%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(189, 137, 199);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #6e3870;
  }
  
  .login-message {
    margin-top: 20px;
    font-size: 16px;
    color: rgb(231, 76, 60);
  }